.tab-button {
  background-color: #ffffff;
  color: #000000;
}

.active-button {
  color: #FAF6D2;
  background-color: #1D1D1B;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: flex;
}

.gradient-background-one {
  background: rgb(220, 212, 255);
  background: linear-gradient(
    45deg,
    rgba(220, 212, 255, 1) 0%,
    rgba(169, 159, 214, 1) 31%,
    rgba(140, 121, 215, 1) 49%,
    rgba(164, 144, 250, 1) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

.gradient-background-two {
  background: linear-gradient(
    291.43deg,
    #8261ff 4%,
    rgba(193, 176, 255, 0.422752) 91.32%,
    rgba(255, 255, 255, 0) 114.2%
  );
}

.gradient-background-three {
  background: linear-gradient(
    291.43deg,
    #8261ff 4%,
    rgba(193, 176, 255, 0.422752) 91.32%,
    rgba(255, 255, 255, 0) 114.2%
  );
}

.hero-banner-background {
  background-image:  url('./img/background/hero-banner.png'), url('./img/background/hero.png');
  background-repeat: no-repeat, repeat;
  background-position: 90%, center;
  background-size: auto, cover;
}

.zine-background-green {
  background-color: hsl(206deg 99% 38% / 65%);
  background-blend-mode: color-burn;
}

.zine-background-white {
  background-image: url('./img/background/white-background-tile.png')
}

.zine-background-blue {
  background-image: url('./img/background/blue-background-tile.png')
}

